<!-- views/main.ejs -->
<html>
  <head>
  </head>
  <body>
    <h3>Hello Update</h3>

	<select name="Country" id="country">
		<option value="kor">Korea</option>
		<option value="usa">United States</option>
		<option value="aus">Australia</option>
		<option value="SAU">Saudi Arabia</option>
	</select>
	<br>

	<select name="Job" id="job">
		<option value="student">Student</option>
		<option value="engineer">Engineer</option>
		<option value="banker">Banker</option>
		<option value="partyplanner">Partyplanner</option>
	</select>
	<br>

	<input type="text" style="border:5px;width:150px" placeholder="name">
	<br>

	<button onclick="" class="btn_sm">Submit</button>
	<button onclick="" class="btn_sm">Cancel</button>
  </body>
</html>